@(implicit session: Session, results: Seq[(Int, String, String, Byte, String, java.sql.Date, Option[java.sql.Date])])

<!DOCTYPE html>
<html>
  @header("利用者一覧")
  <body>
    <table>
      <tr>
        <th>選択</th>
        <th>画像</th>
        <th>番号</th>
        <th>氏名</th>
        <th>カナ名</th>
        <th>年齢</th>
        <th>性別</th>
        <th>誕生日</th>
        <th>介護保険確認</th>
      </tr>
@for(result <- results) {
      <tr>
        <td>◎</td>
  @defining("/assets/pics" + result._1 + ".jpg") { src =>
  @defining(result._2 + "さん") { alt =>
  @defining(result._1) { id =>
  @defining(result._2) { name =>
  @defining(result._3) { kana =>
  @defining(result._4) { age =>
  @defining(result._5) { sex =>
  @defining(result._6) { birthed =>
  @defining(result._7) { expired =>
        <td><img src="@src" alt="@alt"></td>
        <td>@id</td>
        <td>@name</td>
        <td>@kana</td>
        <td>@age</td>
        <td>@sex</td>
        <td>@birthed</td>
        <td>@expired</td>
      </tr>
  }}}}}}}}}
}
    </table>
  </body>
</html>
